.deezer-icon {
  width: fit-content;
  
  svg {
    margin-right: 16px;
    height: 24px;
    width: auto;
  }

  span {
    font-size: 24px;
    font-weight: 700;
    color: white;
    transition: 0.3s ease;
  }
}
