nav {
  z-index: 5;
  transition: 0.3s ease;

  .genres-label {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    transition: 0.3s ease;
    color: white;
    margin-left: 40px;
  }
}
