<nav id="nav-menu"
     class="position-fixed w-100 py-md-4 py-3 px-md-5 px-3"
     [ngClass]="{
     'bg-white': actualUrl !== '/' && actualUrl !== '/home',
     'shadow-sm': actualUrl !== '/' && actualUrl !== '/home'
     }"
     (scroll)="onScroll()">
  <div class="container d-flex align-items-center">
    <app-deezer-icon></app-deezer-icon>
    <a [routerLink]="['/genre/0']" class="genres-label text-decoration-none"
       [class.text-dark]="actualUrl !== '/' && actualUrl !== '/home'">Genres</a>
    <div class="search-input-container">
      <svg id="search-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-search"
           viewBox="0 0 16 16" (click)="onSearch()"
           [class.search-icon-dark]="actualUrl !== '/' && actualUrl !== '/home'">
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg>
      <input id="search-input-text"
             [(ngModel)]="searchQuery"
             type="text"
             placeholder="Rechercher un album, artiste, morceau…"
             class="search-input"
             [class.search-input-dark]="actualUrl !== '/' && actualUrl !== '/home'"
             (keyup.enter)="onSearch()">
      <svg id="clear-icon" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="grey" class="bi bi-x-circle"
           viewBox="0 0 16 16"
           [class.search-icon-dark]="actualUrl !== '/' && actualUrl !== '/home'"
           (click)="searchQuery = ''"
           *ngIf="searchQuery">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path
          d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
      </svg>
    </div>
  </div>
</nav>
