<nav id="nav-menu"
     class="position-fixed w-100 py-md-4 py-3 px-md-5 px-3"
     [ngClass]="{
     'bg-white': actualUrl !== '/' && actualUrl !== '/home',
     'shadow-sm': actualUrl !== '/' && actualUrl !== '/home'
     }"
     (scroll)="onScroll()">
  <div class="container d-flex align-items-center">
    <app-deezer-icon></app-deezer-icon>
    <a [routerLink]="['/genre/0']" class="genres-label text-decoration-none"
       [class.text-dark]="actualUrl !== '/' && actualUrl !== '/home'">Genres</a>
  </div>
</nav>
