<div class="container my-5" *ngIf="album">
  <div class="d-flex align-items-start justify-content-start mb-md-5 mb-3">
    <img [src]="album.cover_xl"
         class="rounded shadow-sm album-cover">
    <div class="d-flex flex-column align-items-start justify-content-start mx-4">
      <span class="bg-dark text-white mb-3 explicit-tag" *ngIf="album.explicit_lyrics">Explicit</span>
      <h3 class="text-dark mb-3">{{album.title}}</h3>
      <a [routerLink]="['/artist/', album.artist.id]"
         class="artist-section d-flex align-items-center mb-3 text-decoration-none">
        <img
          [src]="album.artist.picture_xl"
          class="rounded-circle" height="32" width="32">
        <span class="text-dark mx-2">{{album.artist.name}}</span>
      </a>
      <div class="d-none d-md-flex align-items-center album-sm-info">
        <span class="text-muted">{{album.nb_tracks}} titres</span>
        <span class="text-muted">{{album.duration | minuteSeconds}}</span>
        <span class="text-muted">{{album.release_date | date: 'dd/MM/yyyy'}}</span>
        <span class="text-muted">{{album.fans}} fans</span>
      </div>
    </div>
  </div>

  <div class="mt-md-4 mt-3">
    <app-playlist [playlist]="album.tracks.data" [label]="album.label"></app-playlist>
  </div>

  <div class="mt-5">
    <h4 class="artist-related-label mb-0">Artistes similaires</h4>
    <div class="d-flex align-items-center artist-related-container mt-5">
      <a [routerLink]="['/artist/', artist.id]" *ngFor="let artist of artistRelated"
         class="d-flex flex-column text-decoration-none align-items-center col">
        <img [src]="artist.picture_xl" class="rounded-circle shadow-sm">
        <span class="text-dark mt-3">{{artist.name}}</span>
      </a>
    </div>
  </div>
</div>
