.album-cover {
  height: 200px;
  width: 200px;
  transition: 0.3s ease;
}

.explicit-tag {
  font-size: 12px;
  border-radius: 4px;
  padding: 4px 8px;
}

.artist-section span {
  transition: 0.3s ease;
}

.artist-section:hover span {
  color: #1FA1DA !important;
}

.album-sm-info {
  font-size: 12px;
  font-weight: 300;

  span:not(:last-child)::after {
    content: "•";
    margin: auto 8px;
  }
}

.artist-related-label {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 18px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .album-cover {
    height: 150px;
    width: 150px;
  }

  .explicit-tag {
    font-size: 11px;
  }
}
