<div class="container my-5" *ngIf="!loading">
  <div class="d-flex align-items-center mb-5 genre-pills-container" *ngIf="genres">
    <a [routerLink]="['/genre/', singleGenre.id]" *ngFor="let singleGenre of genres"
       class="text-decoration-none genre-pill text-dark border-dark" [class.active-pill]="singleGenre.id === genre.id">
      {{singleGenre.name}}
    </a>
  </div>
  <h1 class="text-dark mb-5" *ngIf="genre">{{genre.name}}</h1>
  <div class="mb-5" *ngIf="genreArtists && genreArtists.length > 0">
    <h4 class="artist-related-label mb-0">Artistes liés au genre</h4>
    <app-artist-slider [artists]="genreArtists"></app-artist-slider>
  </div>
  <div class="mb-5" *ngIf="genrePodcast && genrePodcast.length > 0">
    <h4 class="artist-related-label mb-0">Podcasts liés au genre</h4>
    <app-podcast-slider [podcasts]="genrePodcast"></app-podcast-slider>
  </div>
  <div class="mb-5" *ngIf="genreRadios && genreRadios.length > 0">
    <h4 class="artist-related-label mb-0">Radios liés au genre</h4>
    <app-radio-slider [radios]="genreRadios"></app-radio-slider>
  </div>
</div>
