<div class="row" *ngIf="genres">
  <a [routerLink]="['/genre/', genre.id]" class="col-lg-3 col-sm-4 col-6 my-4 genre-card text-decoration-none text-dark" *ngFor="let genre of genres">
    <div class="w-100 border-0 genre-img-container">
      <div class="card-genre-overlay rounded d-flex align-items-center justify-content-center">
        <h4 class="text-light text-center">{{genre.name}}</h4>
      </div>
      <img class="genre-card-img rounded" [src]="genre.picture_medium" alt="Card image cap">
    </div>
  </a>
</div>
