.genre-card {
  cursor: pointer;
  transition: 0.3s ease;
}

.genre-card:hover, .genre-card:focus-within {
  outline: none;
}

.genre-img-container {
  position: relative;
  height: 150px;
}

.card-genre-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 2;
  transition: 0.3s ease;
}


.genre-card:hover .card-genre-overlay,
.genre-card:focus-within .card-genre-overlay {
  background: rgba(201, 56, 56, 0.7);
}

.genre-card-img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
