<div class="container my-5" *ngIf="artist">
  <div class="d-flex align-items-center justify-content-start mb-md-5 mb-3">
    <img [src]="artist.picture_xl"
         class="rounded-circle shadow-sm artist-picture">
    <div class="d-flex flex-column align-items-start justify-content-start mx-4">
      <h4 class="text-dark mb-sm-3 mb-2">{{artist.name}}</h4>
      <div class="d-flex flex-column flex-md-row align-items-md-center align-items-start artist-sm-info">
        <span class="text-muted mb-2 mb-md-0">{{artist.nb_album}} albums</span>
        <span class="text-muted">{{artist.nb_fan | number}} fans</span>
      </div>
    </div>
  </div>

  <div class="mt-4" *ngIf="topTracks">
    <div *ngIf="topTracks.length > 0; else noTrack">
      <div class="d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-bar-chart-line-fill" viewBox="0 0 16 16">
          <path
            d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2z"/>
        </svg>
        <h4 class="title mx-2 mb-0">Top titres</h4>
      </div>
      <div class="mt-3">
        <app-playlist [playlist]="topTracks"></app-playlist>
      </div>
    </div>
    <ng-template #noTrack>
      <span><b>{{artist.name}}</b> n'a pas de top titre 🥲</span>
    </ng-template>
  </div>

  <div class="mt-5" *ngIf="artistRelated">
    <h4 class="artist-related-label mb-0">Artistes similaires</h4>
    <app-artist-slider [artists]="artistRelated"></app-artist-slider>
  </div>
</div>
