.artist-picture {
  height: 200px;
  width: 200px;
  transition: 0.3s ease;
}

.artist-sm-info {
  font-size: 13px;
  font-weight: 300;

  span:not(:last-child)::after {
    content: "•";
    margin: auto 8px;
  }
}

.title {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 18px;
  text-transform: uppercase;
}

.artist-related-label {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 18px;
  text-transform: uppercase;
}

.artist-album-container {
  overflow-x: scroll;
}

.artist-album-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.artist-album-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.artist-album-element {
  margin-right: 24px;

  img {
    width: 180px;
    height: 180px;
  }

  .artist-album-title {
    font-weight: 300;
    font-size: 14px;
  }

  .artist-album-year {
    font-weight: 300;
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .artist-picture {
    height: 150px;
    width: 150px;
  }

  .artist-sm-info span:not(:last-child)::after {
    content: "";
    margin: 0;
  }
}
@media screen and (max-width: 575px) {
  .artist-picture {
    height: 100px;
    width: 100px;
  }
}
